<a name="login"></a>

## 用户注册

### 登录
---
/index.php?m=api&c=user&a=login

http请求方式: POST

| 参数        | 是否必填        |  说明 |
| ------------- |:-------------|:-------------|
|token| 是 | 验证token
|username| 是 | 用户名
|password| 是 |


```
{
    "status": 0,
    "error": "no access",
    "info": {
        "uid": "",
        "nickname": "",
        "pk": ""
    },
    "action": "error"
}
```

<a name="register"></a>

### 注册
---
/index.php?m=api&c=user&a=register

http请求方式: POST

| 参数        | 是否必填        |  说明 |
| ------------- |:-------------|:-------------|
|token| 是 | 验证token
|username| 是 | 用户名
|password| 是 | 密码
|verify| 是 | 手机验证码 -> 调取  sendMobile()


```
{
    "status": 0,
    "error": "注册成功",
    "info": {

    },
    "action": "error"
}
```

<a name="password"></a>

### 修改密码
---
/index.php?m=api&c=user&a=password

http请求方式: POST

| 参数        | 是否必填        |  说明 |
| ------------- |:-------------|:-------------|
|token| 是 | 验证token
|pk| 是 | 登录后返回的pk
|oldpassword| 是 | 旧密码
|password| 是 | 新密码



```
{
    "status": 0,
    "error": "修改成功",
    "info": {

    },
    "action": "error"
}
```

<a name="forgetPassword"></a>

### 找回密码
---
/index.php?m=api&c=user&a=forgetPassword

http请求方式: POST

| 参数        | 是否必填        |  说明 |
| ------------- |:-------------|:-------------|
|token| 是 | 验证token
|mobile| 是 | 登录的手机号
|password| 是 | 密码
|verify| 是 | 手机验证码 -> 调取  sendMobile()



```
{
    "status": 0,
    "error": "修改成功",
    "info": {

    },
    "action": "error"
}
```

<a name="sendMobile"></a>

### 发送注册验证码
---
/index.php?m=api&c=user&a=sendMobile

http请求方式: POST

| 参数        | 是否必填        |  说明 |
| ------------- |:-------------|:-------------|
|token| 是 | 验证token
|mobile| 是 | 登录的手机号
|type| 否 | 默认 注册验证码 1. 找回密码的验证码


```
{
    "status": 0,
    "error": "发送成功",
    "info": {

    },
    "action": "error"
}
```

<a name="updateNickName"></a>

### 修改昵称
---
/index.php?m=api&c=user&a=updateNickName

http请求方式: POST

| 参数        | 是否必填        |  说明 |
| ------------- |:-------------|:-------------|
|token| 是 | 验证token
|pk| 是 | 登录后返回的pk
|nickname| 是 | 昵称



```
{
    "status": 0,
    "error": "修改成功",
    "info": {

    },
    "action": "error"
}
```

## 作品获取

<a name="category"></a>

### 栏目
---
/index.php?m=api&c=book&a=category

http请求方式: GET

| 参数        | 是否必填        |  说明 |
| ------------- |:-------------|:-------------|
|token| 是 | 验证token



```
{
    "status": 0,
    "info": {
        "1": "作品",
        "2": "画册",
        "3": "专栏",
        "4": "连载"
    }
}
```


<a name="book_index"></a>

### 作品列表
---
/index.php?m=api&c=book&a=index

http请求方式: GET

| 参数        | 是否必填        |  说明 |
| ------------- |:-------------|:-------------|
|token| 是 | 验证token
|type| 否 | 默认最新作品,  推荐位:position, 评论:comment, 评分:score, 特价:sale
|catid| 否 | 分类id
|key| 否 | 搜索值
|page| 否 | 页码 默认 1
|size| 否 | 每页数量 默认 10



```
{
    "status": 0,
    "info": [
        {
            "id": "作品id",
            "title": "标题",
            "content": "简介",
            "cose_price": "标价",
            "sell_price": "销售价",
            "is_free": "1为免费, 0为收费",
            "cover": "封面"
        }
    ]
}
```


<a name="show"></a>

### 单篇作品
---
/index.php?m=api&c=book&a=show

http请求方式: GET

| 参数        | 是否必填        |  说明 |
| ------------- |:-------------|:-------------|
|token| 是 | 验证token
|id| 是 |  作品id



```
{
    "status": 0,
    "action": "",
    "error": "no access",
    "info": {
        "metaData": {
            "id": "",
            "title": "xxx",
            "author": "x",
            "sub_title": "xx",
            "content": null,
            "author_content": null,
            "is_first": "1",
            "cose_price": "0.00",
            "sell_price": "0.00",
            "cover": "",
            "is_free": "1",
            "read_num": "0",
            "collect_num": "0",
            "press": null,
            "is_end": "0",
            "copyright": null,
            "score_num": "0"
        },
        "Toc": [
            {
                "id": "4",
                "book_id": "149",
                "title": "简介",
                "sort": "0",
                "level": 2,
                "top_id": "0",
                "up_id": "0",
                "associateId": 4
            },
            {
                "id": "31",
                "book_id": "149",
                "title": "Slim",
                "sort": "0",
                "level": 3,
                "top_id": "4",
                "up_id": "4",
                "associateId": 31
            },
            {
                "id": "32",
                "book_id": "149",
                "title": "Swoole",
                "sort": "1",
                "level": 4,
                "top_id": "4",
                "up_id": "31",
                "associateId": 32
            },
            {
                "id": "1",
                "book_id": "149",
                "title": "第一章",
                "sort": "0",
                "level": 2,
                "top_id": "0",
                "up_id": "0",
                "associateId": 1
            }
        ]
    }
}
```

<a name="book_comment"></a>

### 作品评价
---
/index.php?m=api&c=book&a=book_comment

http请求方式: GET

| 参数        | 是否必填        |  说明 |
| ------------- |:-------------|:-------------|
|token| 是 | 验证token
|id| 是 | 作品id
|page| 否 | 页码 默认 1
|size| 否 | 每页数量 默认 10

```
{
    "status": 0,
    "action": "",
    "error": "no access",
    "info": {
    "data": [
        {
            "id": "20",
            "book_id": "149",
            "content": "莫言的成名之作,值得一看!",
            "pid": "0",
            "puid": "0",
            "create_time": "2016-04-03",
            "update_time": "1459685987",
            "down_num": "0",
            "up_num": "1",
            "score": "3",
            "reply_num": "1",
            "nickname": "hacderx1",
            "header_img": "/u/p/2016-04-14/570f6d465779d.png"
        }
    ],
    "count": "6"
    }
}
```


## 作者

<a name="author_index"></a>

### 作者信息
---
/index.php?m=api&c=author&a=author_index

http请求方式: GET

| 参数        | 是否必填        |  说明 |
| ------------- |:-------------|:-------------|
|token| 是 | 验证token
|pk| 是 | 登录后返回的pk



```
{
    "status": 0,
    "info": {
        "uid": "",
        "author_name": "",
        "real_name": "",
        "desc": ,
        "mobile": "",
        "id_no": "",
        "sign": "",
        "email": "",
        "alipay_no": "",
        "alipay_name": "",
        "create_time": "",
        "update_time": "",
        "status": "1",
        "remark": null,
        "is_system": "0"
    }
}
```

<a name="book"></a>

### 作者作品
---
/index.php?m=api&c=author&a=book

http请求方式: GET

| 参数        | 是否必填        |  说明 |
| ------------- |:-------------|:-------------|
|token| 是 | 验证token
|pk| 是 | 登录后返回的pk
|type| 否 | 默认 全部  发布:published 未发布:unpublished
|page| 否 | 页码 默认 1
|size| 否 | 每页数量 默认 10


```
{
    "status": 0,
    "info": {
    "data": [
        {
            "id": "149",
            "title": "xxx",
            "cover_id": "0",
            "content": null,
            "status": "1",
            "sell_price": "0.00",
            "cover": false
        }
    ],
    "count": "1"
    }
}
```

## 个人中心

<a name="member_index"></a>

### 用户信息
---
/index.php?m=api&c=member&a=index

http请求方式: post

| 参数        | 是否必填        |  说明 |
| ------------- |:-------------|:-------------|
|token| 是 | 验证token
|pk| 是 | 登录后返回的pk


```
{
    "status": 0,
    "action": "",
    "error": "no access",
    "info": {
        "uid": "",
        "nickname": "",
        "sex": "0",
        "birthday": "0000-00-00",
        "qq": "",
        "score": "积分",
        "balance": "余额",
        "login": "17",
        "reg_ip": "1039297748",
        "reg_time": "1460358821",
        "last_login_ip": "2130706433",
        "last_login_time": "1462254209",
        "status": "1",
        "headerimg": "0",
        "is_admin": "0",
        "is_author": "0",
        "is_c_email": "0",
        "follow_num": "0",
        "be_follow_num": "0",
        "sign": null,
        "address": null,
        "avatar": "/res/static/default_headerimg.png"
    }
}
```


<a name="favorites"></a>

### 收藏
---
/index.php?m=api&c=member&a=favorites

http请求方式: post

| 参数        | 是否必填        |  说明 |
| ------------- |:-------------|:-------------|
|token| 是 | 验证token
|pk| 是 | 登录后返回的pk
|page| 否 | 页码 默认 1
|size| 否 | 每页数量 默认 10

```
{
    "status": 0,
    "action": "",
    "error": "no access",
    "info": {
        "data": [
            {
            "id": "38",
            "title": "红高粱",
            "sub_title": "",
            "top_cate_id": "1",
            "cate_id": "7",
            "cover_id": "108",
            "content": "",
            "is_free": "1",
            "cose_price": "15.00",
            "sell_price": "15.00",
            "score": "3",
            "is_end": "0",
            "create_time": "1458699645",
            "update_time": "1458699645",
            "tags": "莫言 红高粱 当代文学",
            "num": "3",
            "form": "3",
            "works_kind": "3",
            "is_fiction": "1",
            "is_original": "1",
            "original_data": "",
            "sh_time": "0",
            "position": "1",
            "sell_num": "0",
            "comment_num": "2",
            "is_sale": "0",
            "score_num": "2",
            "read_num": "0",
            "collect_num": "4",
            "is_publish": "1",
            "press": "花城出版社",
            "copyright": "花城出版社",
            "publish_price": "15.00",
            "publish_time": "2012年10月",
            "type_id": "0",
            "author": "莫言",
            "is_first": "1",
            "is_style": "0",
            "author_content": null,
            }
        ],
        "count": "1"
    }
}
```


<a name="order"></a>

### 订单
---
/index.php?m=api&c=member&a=order

http请求方式: post

| 参数        | 是否必填        |  说明 |
| ------------- |:-------------|:-------------|
|token| 是 | 验证token
|pk| 是 | 登录后返回的pk
|page| 否 | 页码 默认 1
|size| 否 | 每页数量 默认 10

```
{
    "status": 0,
    "action": "",
    "error": "no access",
    "info": {
        "data": [
            {
                "id": "4",
                "order_sn": "a160415105109966",
                "uid": "1211",
                "pay_type": "1",
                "pay_status": "1 未付款 2 已付款",
                "status": "1 新订单，2已取消，3已完成(交易成功)，4已关闭",
                "pay_money": "0.99",
                "type": null,
                "remark": null,
                "create_time": "1460688669",
                "update_time": "1460688669",
                "detail": [
                    {
                        "id": "5",
                        "uid": "48",
                        "order_sn": "a160415105109966",
                        "title": "造园的人",
                        "d_id": "28",
                        "num": "1",
                        "price": "0.99",
                        "setting": null,
                        "create_time": "1460688669"
                    }
                ]
            }
        ],
        "count": "3"
    }
}
```

<a name="oderDetail"></a>

### 订单详情
---
/index.php?m=api&c=member&a=oderDetail

http请求方式: post

| 参数        | 是否必填        |  说明 |
| ------------- |:-------------|:-------------|
|token| 是 | 验证token
|pk| 是 | 登录后返回的pk
|orderSn| 是 | 订单号

```
{
    "status": 0,
    "action": "",
    "error": "no access",
    "info": {
        "id": "4",
        "order_sn": "a160415105109966",
        "uid": "1211",
        "pay_type": "1",
        "pay_status": "2",
        "status": "3",
        "pay_money": "0.99",
        "type": null,
        "remark": null,
        "create_time": "1460688669",
        "update_time": "1460688669",
        "detail": [
            {
            "id": "5",
            "uid": "48",
            "order_sn": "a160415105109966",
            "title": "造园的人",
            "d_id": "28",
            "num": "1",
            "price": "0.99",
            "setting": null,
            "create_time": "1460688669"
            }
        ]
    }
}
```



<a name="notice"></a>

### 通知
---
/index.php?m=api&c=member&a=notice

http请求方式: post

| 参数        | 是否必填        |  说明 |
| ------------- |:-------------|:-------------|
|token| 是 | 验证token
|pk| 是 | 登录后返回的pk
|page| 否 | 页码 默认 1
|size| 否 | 每页数量 默认 10

```
{
    "status": 0,
    "action": "",
    "error": "no access",
    "info": {
        "data": [
            {
                "id": "1",
                "uid": "1211",
                "title": "DXVX",
                "content": "23112312",
                "status": "1 未读 2 已读",
                "create_time": "0",
                "update_time": "0"
            }
        ],
        "count": "1"
    }
}
```

<a name="noticeDetail"></a>

### 通知详情
---
/index.php?m=api&c=member&a=noticeDetail

http请求方式: post

| 参数        | 是否必填        |  说明 |
| ------------- |:-------------|:-------------|
|token| 是 | 验证token
|pk| 是 | 登录后返回的pk
|id| 是 | 通知id

```
{
    "status": 0,
    "action": "",
    "error": "no access",
    "info": {
        "id": "1",
        "uid": "1211",
        "title": "DXVX",
        "content": "23112312",
        "status": "1",
        "create_time": "0",
        "update_time": "0"
    }
}
```


<a name="noticeRead"></a>

### 读取通知
---
/index.php?m=api&c=member&a=noticeRead

http请求方式: post

| 参数        | 是否必填        |  说明 |
| ------------- |:-------------|:-------------|
|token| 是 | 验证token
|pk| 是 | 登录后返回的pk
|id| 是 | 通知id


<a name="account"></a>

### 充值
---
/index.php?m=api&c=member&a=account

http请求方式: post

| 参数        | 是否必填        |  说明 |
| ------------- |:-------------|:-------------|
|token| 是 | 验证token
|pk| 是 | 登录后返回的pk
|money| 是 | 需要充值的金额

```
{
    "status": 0,
    "action": "not money",
    "error": "充值成功",
    "info": []
}
```
<a name="accountLog"></a>

### 充值记录
---
/index.php?m=api&c=member&a=accountLog

http请求方式: post

| 参数        | 是否必填        |  说明 |
| ------------- |:-------------|:-------------|
|token| 是 | 验证token
|pk| 是 | 登录后返回的pk
|page| 否 | 页码 默认 1
|size| 否 | 每页数量 默认 10


```
{
    "status": 0,
    "action": "",
    "error": "no access",
    "info": {
        "data": [
            {
                "id": "6",
                "uid": "1211",
                "money": "1.00",
                "action": "1",
                "action_sn": "",
                "type": "recharge",
                "create_time": "1462502270"
            }
        ],
        "count": "1"
    }
}
```

<a name="consumeLog"></a>

### 消费记录
---
/index.php?m=api&c=member&a=consumeLog

http请求方式: post

| 参数        | 是否必填        |  说明 |
| ------------- |:-------------|:-------------|
|token| 是 | 验证token
|pk| 是 | 登录后返回的pk
|page| 否 | 页码 默认 1
|size| 否 | 每页数量 默认 10


```
{
    "status": 0,
    "action": "",
    "error": "no access",
    "info": {
        "data": [
            {
                "id": "6",
                "uid": "1211",
                "money": "1.00",
                "action": "1",
                "action_sn": "",
                "type": "buy",
                "create_time": "1462502270"
            }
        ],
        "count": "1"
    }
}
```
<a name="remind"></a>

### 提醒
---
/index.php?m=api&c=member&a=remind

http请求方式: post

| 参数        | 是否必填        |  说明 |
| ------------- |:-------------|:-------------|
|token| 是 | 验证token
|pk| 是 | 登录后返回的pk
|page| 否 | 页码 默认 1
|size| 否 | 每页数量 默认 10


```
{
    "status": 0,
    "action": "",
    "error": "no access",
    "info": {
        "data": [
            {
                "id": "6",
                "uid": "1211",
                "content": "成功充值1元",
                "create_time": "1462502270"
            }
        ],
        "count": "1"
    }
}
```







